<font size="6">Capstone Project - Applied Data Science Specialization</font><br>

This notebook will be used to complete the Capstone Project for the Applied Data Science Specialization by IBM. It is divided into different sections, each with different parts. Every section corresponds to a different requirement on the capstone project.<br>


<div style="text-align: right"><font size="5">Making the Notebook</font></div>

<div style="text-align: right">Peer Graded Asignment for IBM's Applied Data Science Capstone, Week 1</div>
<br>
<br>

In [1]:
import numpy as np
import pandas as pd

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!



<div style="text-align: right"><font size="5">Segmenting and Clustering Neighborhoods in Toronto</font></div>

<div style="text-align: right">Peer Graded Asignment for IBM's Applied Data Science Capstone, Week 3</div>
<br>
<br>

<font size="4">Part 1 - Getting and Wrangling Data</font>


First, I import and install everything I need. The following lines of code are taken (almost) directly from the course's "Segmenting and Clustering Neighborhoods in New York City" Jupyter Notebook:

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

These only have to be installed once, so I uncomment them only in the need of working in a different environment.

In [6]:
!conda install -c conda-forge geopy --yes 
!conda install -c conda-forge folium=0.5.0 --yes

^C

And proceed to import and install the remaining ones.

In [8]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Now, according to the instructions, I need data on different buroughs, neighborhoods and postal codes from Toronto, which I can obtain here:
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

Let's try just reading it as a csv.

In [9]:
df = pd.read_csv('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 43

Let's try checking online. There appears to be a pandas command, read_html, which can "read HTML tables into a list of DataFrame objects" according to the documentation.

In [10]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 5           M6A        North York
 6           M7A  Downtown Toronto
 7           M8A      Not assigned
 8           M9A         Etobicoke
 9           M1B       Scarborough
 10          M2B      Not assigned
 11          M3B        North York
 12          M4B         East York
 13          M5B  Downtown Toronto
 14          M6B        North York
 15          M7B      Not assigned
 16          M8B      Not assigned
 17          M9B         Etobicoke
 18          M1C       Scarborough
 19          M2C      Not assigned
 20          M3C        North York
 21          M4C         East York
 22          M5C  Downtown Toronto
 23          M6C              York
 24          M7C      Not assigned
 25          M8C      Not assigned
 26          M9C         Etobicoke
 27          M1E       Scarborough
 28          M2E      Not assigned
 29          M3E      Not assigned
 30          M4E      East Toronto
 31          M5E  Downtown Toronto
 32          M6E              York
 33          M7E      Not assigned
 34          M8E      Not assigned
 35          M9E      Not assigned
 36          M1G       Scarborough
 37          M2G      Not assigned
 38          M3G      Not assigned
 39          M4G         East York
 40          M5G  Downtown Toronto
 41          M6G  Downtown Toronto
 42          M7G      Not assigned
 43          M8G      Not assigned
 44          M9G      Not assigned
 45          M1H       Scarborough
 46          M2H        North York
 47          M3H        North York
 48          M4H         East York
 49          M5H  Downtown Toronto
 50          M6H      West Toronto
 51          M7H      Not assigned
 52          M8H      Not assigned
 53          M9H      Not assigned
 54          M1J       Scarborough
 55          M2J        North York
 56          M3J        North York
 57          M4J         East York
 58          M5J  Downtown Toronto
 59          M6J      West Toronto
 60          M7J      Not assigned
 61          M8J      Not assigned
 62          M9J      Not assigned
 63          M1K       Scarborough
 64          M2K        North York
 65          M3K        North York
 66          M4K      East Toronto
 67          M5K  Downtown Toronto
 68          M6K      West Toronto
 69          M7K      Not assigned
 70          M8K      Not assigned
 71          M9K      Not assigned
 72          M1L       Scarborough
 73          M2L        North York
 74          M3L        North York
 75          M4L      East Toronto
 76          M5L  Downtown Toronto
 77          M6L        North York
 78          M7L      Not assigned
 79          M8L      Not assigned
 80          M9L        North York
 81          M1M       Scarborough
 82          M2M        North York
 83          M3M        North York
 84          M4M      East Toronto
 85          M5M        North York
 86          M6M              York
 87          M7M      Not assigned
 88          M8M      Not assigned
 89          M9M        North York
 90          M1N       Scarborough
 91          M2N        North York
 92          M3N        North York
 93          M4N   Central Toronto
 94          M5N   Central Toronto
 95          M6N              York
 96          M7N      Not assigned
 97          M8N      Not assigned
 98          M9N              York
 99          M1P       Scarborough
 100         M2P        North York
 101         M3P      Not assigned
 102         M4P   Central Toronto
 103         M5P   Central Toronto
 104         M6P      West Toronto
 105         M7P      Not assigned
 106         M8P      Not assigned
 107         M9P         Etobicoke
 108         M1R       Scarborough
 109         M2R        North York
 110         M3R      Not assigned
 111         M4R   Central Toronto
 112         M5R   Central Toronto
 113         M6R      West Toronto
 114         M7R       Mississauga
 115         M8R      Not assigned
 116         M9R         Etobicoke
 117         M1S       Scarborough
 118         M2S      Not assigned
 119         M3S      Not assigned
 120         M4S   Central Toronto
 121         M5S  Downtown Toronto
 122         M6S      West Toronto
 123         M7S      Not assigned
 124         M8S      Not assigned
 125         M9S      Not assigned
 126         M1T       Scarborough
 127         M2T      Not assigned
 128         M3T      Not assigned
 129         M4T   Central Toronto
 130         M5T  Downtown Toronto
 131         M6T      Not assigned
 132         M7T      Not assigned
 133         M8T      Not assigned
 134         M9T      Not assigned
 135         M1V       Scarborough
 136         M2V      Not assigned
 137         M3V      Not assigned
 138         M4V   Central Toronto
 139         M5V  Downtown Toronto
 140         M6V      Not assigned
 141         M7V      Not assigned
 142         M8V         Etobicoke
 143         M9V         Etobicoke
 144         M1W       Scarborough
 145         M2W      Not assigned
 146         M3W      Not assigned
 147         M4W  Downtown Toronto
 148         M5W  Downtown Toronto
 149         M6W      Not assigned
 150         M7W      Not assigned
 151         M8W         Etobicoke
 152         M9W         Etobicoke
 153         M1X       Scarborough
 154         M2X      Not assigned
 155         M3X      Not assigned
 156         M4X  Downtown Toronto
 157         M5X  Downtown Toronto
 158         M6X      Not assigned
 159         M7X      Not assigned
 160         M8X         Etobicoke
 161         M9X      Not assigned
 162         M1Y      Not assigned
 163         M2Y      Not assigned
 164         M3Y      Not assigned
 165         M4Y  Downtown Toronto
 166         M5Y      Not assigned
 167         M6Y      Not assigned
 168         M7Y      East Toronto
 169         M8Y         Etobicoke
 170         M9Y      Not assigned
 171         M1Z      Not assigned
 172         M2Z      Not assigned
 173         M3Z      Not assigned
 174         M4Z      Not assigned
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                           Neighborhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 5                     Lawrence Manor, Lawrence Heights
 6          Queen's Park, Ontario Provincial Government
 7                                         Not assigned
 8              Islington Avenue, Humber Valley Village
 9                                       Malvern, Rouge
 10                                        Not assigned
 11                                           Don Mills
 12                     Parkview Hill, Woodbine Gardens
 13                            Garden District, Ryerson
 14                                           Glencairn
 15                                        Not assigned
 16                                        Not assigned
 17   West Deane Park, Princess Gardens, Martin Grov...
 18              Rouge Hill, Port Union, Highland Creek
 19                                        Not assigned
 20                                           Don Mills
 21                                    Woodbine Heights
 22                                      St. James Town
 23                                  Humewood-Cedarvale
 24                                        Not assigned
 25                                        Not assigned
 26   Eringate, Bloordale Gardens, Old Burnhamthorpe...
 27                   Guildwood, Morningside, West Hill
 28                                        Not assigned
 29                                        Not assigned
 30                                         The Beaches
 31                                         Berczy Park
 32                                 Caledonia-Fairbanks
 33                                        Not assigned
 34                                        Not assigned
 35                                        Not assigned
 36                                              Woburn
 37                                        Not assigned
 38                                        Not assigned
 39                                             Leaside
 40                                  Central Bay Street
 41                                            Christie
 42                                        Not assigned
 43                                        Not assigned
 44                                        Not assigned
 45                                           Cedarbrae
 46                                   Hillcrest Village
 47     Bathurst Manor, Wilson Heights, Downsview North
 48                                    Thorncliffe Park
 49                            Richmond, Adelaide, King
 50                        Dufferin, Dovercourt Village
 51                                        Not assigned
 52                                        Not assigned
 53                                        Not assigned
 54                                 Scarborough Village
 55                        Fairview, Henry Farm, Oriole
 56                     Northwood Park, York University
 57       East Toronto, Broadview North (Old East York)
 58   Harbourfront East, Union Station, Toronto Islands
 59                            Little Portugal, Trinity
 60                                        Not assigned
 61                                        Not assigned
 62                                        Not assigned
 63         Kennedy Park, Ionview, East Birchmount Park
 64                                     Bayview Village
 65                                           Downsview
 66                        The Danforth West, Riverdale
 67            Toronto Dominion Centre, Design Exchange
 68        Brockton, Parkdale Village, Exhibition Place
 69                                        Not assigned
 70                                        Not assigned
 71                                        Not assigned
 72                     Golden Mile, Clairlea, Oakridge
 73                            York Mills, Silver Hills
 74                                           Downsview
 75                      India Bazaar, The Beaches West
 76                      Commerce Court, Victoria Hotel
 77            North Park, Maple Leaf Park, Upwood Park
 78                                        Not assigned
 79                                        Not assigned
 80                                       Humber Summit
 81     Cliffside, Cliffcrest, Scarborough Village West
 82                             Willowdale, Newtonbrook
 83                                           Downsview
 84                                     Studio District
 85                   Bedford Park, Lawrence Manor East
 86    Del Ray, Mount Dennis, Keelsdale and Silverthorn
 87                                        Not assigned
 88                                        Not assigned
 89                                    Humberlea, Emery
 90                         Birch Cliff, Cliffside West
 91                         Willowdale, Willowdale East
 92                                           Downsview
 93                                       Lawrence Park
 94                                            Roselawn
 95                       Runnymede, The Junction North
 96                                        Not assigned
 97                                        Not assigned
 98                                              Weston
 99   Dorset Park, Wexford Heights, Scarborough Town...
 100                                    York Mills West
 101                                       Not assigned
 102                                   Davisville North
 103    Forest Hill North & West, Forest Hill Road Park
 104                      High Park, The Junction South
 105                                       Not assigned
 106                                       Not assigned
 107                                          Westmount
 108                                  Wexford, Maryvale
 109                        Willowdale, Willowdale West
 110                                       Not assigned
 111                  North Toronto West, Lawrence Park
 112                The Annex, North Midtown, Yorkville
 113                             Parkdale, Roncesvalles
 114              Canada Post Gateway Processing Centre
 115                                       Not assigned
 116  Kingsview Village, St. Phillips, Martin Grove ...
 117                                          Agincourt
 118                                       Not assigned
 119                                       Not assigned
 120                                         Davisville
 121                     University of Toronto, Harbord
 122                                 Runnymede, Swansea
 123                                       Not assigned
 124                                       Not assigned
 125                                       Not assigned
 126            Clarks Corners, Tam O'Shanter, Sullivan
 127                                       Not assigned
 128                                       Not assigned
 129                        Moore Park, Summerhill East
 130          Kensington Market, Chinatown, Grange Park
 131                                       Not assigned
 132                                       Not assigned
 133                                       Not assigned
 134                                       Not assigned
 135  Milliken, Agincourt North, Steeles East, L'Amo...
 136                                       Not assigned
 137                                       Not assigned
 138  Summerhill West, Rathnelly, South Hill, Forest...
 139  CN Tower, King and Spadina, Railway Lands, Har...
 140                                       Not assigned
 141                                       Not assigned
 142       New Toronto, Mimico South, Humber Bay Shores
 143  South Steeles, Silverstone, Humbergate, Jamest...
 144                      Steeles West, L'Amoreaux West
 145                                       Not assigned
 146                                       Not assigned
 147                                           Rosedale
 148                                     Stn A PO Boxes
 149                                       Not assigned
 150                                       Not assigned
 151                             Alderwood, Long Branch
 152                Northwest, West Humber - Clairville
 153                                        Upper Rouge
 154                                       Not assigned
 155                                       Not assigned
 156                        St. James Town, Cabbagetown
 157             First Canadian Place, Underground city
 158                                       Not assigned
 159                                       Not assigned
 160      The Kingsway, Montgomery Road, Old Mill North
 161                                       Not assigned
 162                                       Not assigned
 163                                       Not assigned
 164                                       Not assigned
 165                               Church and Wellesley
 166                                       Not assigned
 167                                       Not assigned
 168  Business reply mail Processing Centre, South C...
 169  Old Mill South, King's Mill Park, Sunnylea, Hu...
 170                                       Not assigned
 171                                       Not assigned
 172                                       Not assigned
 173                                       Not assigned
 174                                       Not assigned
 175                                       Not assigned
 176                                       Not assigned
 177                                       Not assigned
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                       Not assigned  ,
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

We seem to need the first object in the list. Let's convert it into a dataframe.

In [11]:
df = pd.DataFrame(df[0])
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Now let's make the changes required in the assignment:

    1.- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

    2.- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

    3.- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

    4.- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.

    5.- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [12]:
#1. We use "loc" to remove the ones that have "Not assigned".
df = df.loc[df.Borough != 'Not assigned']

#2. Appereantly, as of this date (July 7, 2020), there's no repeated values of Postal Code, for total amount of
# postal codes equals the total amount of unique postal codes, so we leave it as it is.
df.shape[0] == df['Postal Code'].unique().shape[0]

#3. Given the sum of values in Neighborhood that are 'Not assigned' is 0, we conclude there are none.
(df.Neighborhood == 'Not assigned').sum()

#4. Everything up to the point has been exbplained in Markdown cells, or inside the comments.

#5. The total number of rows is:
print('Total number of rows is: {} '.format(df.shape[0]))

Total number of rows is: 103

<font size="4">Part 2 - Adding Latitude and Longitude</font>

I still need latitude and longitude coordinates to visualize the information into a map. As of this date, we are given a csv with the corresponding coordinates, available here: https://cocl.us/Geospatial_data .

In [13]:
lat_lon = pd.read_csv('https://cocl.us/Geospatial_data')
lat_lon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

I make a join to paste every coordinate where it should be. As it can be seen, no rows were eliminated, and because pd.merge i by default an inner join, then every Postal Code in the original dataframe now has coordinates.

In [14]:
toronto = pd.merge(df,lat_lon, on ='Postal Code')
print('Total number of rows after join is: {} '.format(toronto.shape[0]))
toronto.head()

Total number of rows after join is: 103

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

<font size="4">Part 3 - Clustering and Visualizing</font>

I proceed to make clusters and create maps to understand the behavior of the wrangled data. Let' first see how many

In [15]:
toronto.groupby('Borough').count()

                  Postal Code  Neighborhood  Latitude  Longitude
Borough
Central Toronto             9             9         9          9
Downtown Toronto           19            19        19         19
East Toronto                5             5         5          5
East York                   5             5         5          5
Etobicoke                  12            12        12         12
Mississauga                 1             1         1          1
North York                 24            24        24         24
Scarborough                17            17        17         17
West Toronto                6             6         6          6
York                        5             5         5          5